.header {
  position: relative;
  display: flex;
  padding: 40px;
  width: 100%;
  aspect-ratio: 16 / 9;
  flex-flow: column;
  justify-content: flex-end;
  font-family: MattflixSans;
  background-color: var(--gray);
  box-shadow: 100px -100px 200px var(--gray) inset;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.banner {
  width: 100%;
  height: 40vw;
  display: grid;
  place-items: center;
  font-size: 5vw;
  font-family: 'Megrim', cursive;
  background-position: center;
  background-size: cover;
  background-image: url("/chamber.jpg");
}
.vignette {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgb(22,22,22);
  background: linear-gradient(30deg, rgba(22,22,22,1) 0%, rgba(0,0,0,0) 80%);
  background-size: cover;
  background-position: center;
  animation-name: fadeThrough;
  animation-delay: 2s;
  animation-duration: 10s;
  animation-fill-mode: both;
}
.header div:not(.vignette) {
  /* animation-name: inverseFadeThrough; */
  animation-delay: 2s;
  animation-duration: 10s;
  animation-fill-mode: both;
}

@keyframes fadeThrough {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes inverseFadeThrough {
  0% {opacity: 1;}
  25% {opacity: 0.5;}
  75% {opacity: 0.5;}
  100% {opacity: 1;}
}

/* Latge screens */
@media only screen and (min-width: 1200px) {
  .header {
    height: 50vw;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    height: 70vh;
  }
}
