.container {
  display: grid;
  place-items: center;
  padding: 50px;
}
.container.double {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 70vh;
  min-height: fit-content;
}
.container.double .divider {
  height: 100%;
  width: 0;
  border-right: 2px solid var(--light-gray);
}
.form {
  display: flex;
  flex-flow: column wrap;
}
.form input,
.form textarea {
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 0;
  color: var(--text);
}
.form textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}
.form.leftPanel, .form.rightPanel {
  width: 30%;
}
.uploadbtn {
  border-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: var(--theme-color);
  width: 50%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30px;
}
.uploadbtn:disabled {
  color: var(--light-gray);
  background-color: rgb(36, 36, 36);
}
.uploadbtn:disabled::before {
  content: '\f1ce';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .container.double {flex-flow: column; height: fit-content;}
  .form.leftPanel, .form.rightPanel {width: 100%;}
  .container.double .divider {
    width: 100%;
    height: 0;
    border-top: 2px solid var(--light-gray);
    margin: 50px 0;
  }
  .container input, .container textarea {
    width: 100%;
    min-width: 100px;
  }
}

.fileSelector {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 500ms;
  font-size: 20px;
}
.fileSelector i{transition: transform 500ms;}
.fileSelector:hover i{transform: translateY(-5px) scale(1.1);}
.bannerInput {
  display: block;
  background-color: var(--light-gray);
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
.previewfile {
  height: 100%;
  position: absolute;
}
/* tags */
.tagsList {
  list-style-type: none;
  padding: 0;
}
.tagsList li {
  display: inline-block;
  background-color: var(--theme-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}


/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--theme-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--theme-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}