.header {
  position: relative;
  display: flex;
  padding: 40px;
  width: 100vw;
  aspect-ratio: 16 / 9;
  flex-flow: column;
  justify-content: flex-end;
  font-family: MattflixSans;
  background-color: var(--gray);
  box-shadow: 100px -100px 200px black inset;
  background-image: url("/OG_IMG.png");
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 5vw;  
  margin: 0;
}
.description {
    font-size: 15px;
}
.watchLink, .infoLink {
  display: flex;
  width: 75px;
  height: 30px;
  justify-content: center;
  border-radius: 5px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}
.watchLink {
  background-color: var(--mattflix-red);
  background-image: url('/icons/play-white.svg');
  margin-right: 10px;
}
.infoLink {
  background-color: white;
  background-image: url('/icons/info.svg');
}
.links {
  display: flex;
  flex-flow: row nowrap;
}

.playBtn {
  display: inline-block;
  width: 15px;
}

/* Latge screens */
@media only screen and (min-width: 1200px) {
  .header {
    height: 50vw;
  }
  .title {
    font-size: 3vw;
  }
}
