.textWrapper {
  max-height: 100%;
  z-index: 1; /* in front of vignette */
}

.title {
  font-size: 5vw;
  margin: 0;
  transition: opacity 1s;
}
.description {
  font-size: 15px;
  max-width: 70%;
  transition: opacity 1s;
}
.watchLink,
.infoLink {
  display: flex;
  width: 75px;
  height: 30px;
  justify-content: center;
  border-radius: 5px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 1s;
}
.watchLink {
  background-color: var(--mattflix-red);
  background-image: url("/icons/play-white.svg");
  margin-right: 10px;
}
.infoLink {
  background-color: white;
  background-image: url("/icons/info.svg");
}
.links {
  display: flex;
  flex-flow: row nowrap;
}
.responsive {
  display: block;
}

/* Latge screens */
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 3vw;
  }
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .description.responsive {
    display: none;
  }
  .links {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .watchLink,
  .infoLink {
    width: 20vw;
    height: 10vw;
  }
  .title {
    margin-top: 10px;
  }
}
