article.container {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 2.52%, rgba(0, 0, 0, 0.8) 3.78%, rgba(0, 0, 0, 0.8) 19.33%, rgba(0, 0, 0, 0.6) 39.08%, rgba(0, 0, 0, 0.8) 65.13%, rgba(0, 0, 0, 1));
}
.container p {
    text-align: center;
    line-height: 1.7em;
    font-size: 20px;
    color: rgb(170, 170, 170);
}
.container h1 {
    font-size: 35px;
    text-align: center;
}
.container h2 {
    font-size: 30px;
}
.container h3 {
    font-size: 15px;
    color: rgb(117, 117, 117);
}
.threeColumn {
    width: 20vw;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 100px;
    min-width: fit-content;
}
.threeColumnLayout {
    display: grid;
    width: 100%; 
    align-items: center; 
    justify-items: center;
    padding: 100px 50px; 
    justify-content: center; 
    gap: 5vw; 
    text-align: center;
    background-color: black;
}
.threeColumn > ul {
    width: fit-content;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: auto;
}
.threeColumn > ul > li {
    margin-bottom: 20px;
}
footer .threeColumn {
    margin: 0;
    padding: 0;
    height: fit-content;
}
footer .threeColumnLayout {align-items: start; background-color: var(--gray);}
.halfContainer {
    height: 100%;
    width: 49vw;
}
#pricing {background-color: black;}
.pricingBox {
    width: 25vw; 
    border-radius: 20px;
    margin-bottom: 100px;
    min-width: 100px;
    padding: 50px 0;
    background-color: var(--gray);
    transition: transform 1s;
}
.pricingBox:nth-child(2) {
    background-color: var(--theme-color);
    padding: 70px 0;
}
.pricingBox > ul {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    text-align: left;
    font-size: 15px;
}
.pricingBox li {margin-bottom: 10px;transition: transform 500ms;}
.pricingBox > button {
    border: none;
    width: 50%;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: transform 1s;
}
.pricingBox:hover {transform: scale(1.05)}
.pricingBox > button:hover {transform: scale(1.2)}
.pricingBox > button:active {background-color: var(--theme-color);}
.pricingBox > h2 {margin-bottom: 0;}
.pricingBox > h3 {margin-top: 0;}

@media only screen and (max-width: 420px) {
    .container h1{
        font-size: 6vw;
    }
    .container p {
        font-size: 4vw;
    }
    .threeColumn {
        width: 70vw;
    }
    .threeColumn svg {
        padding: 50px;
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 650px) {
    .halfContainer {
        width: 100%;
    }
    .container > h1 {
        font-size: 8vw;
    }
    .container > p {
        font-size: 3vw;
    }
    section.container {
        margin: 100px 50px;
    }
}
@media only screen and (min-width: 651px) {
    .container > h1 {
        font-size: 5vw;
    }
    .container > p {
        font-size: 1.4vw;
    }
    section.container:nth-child(2) {
        margin: 15vw 25vw;
    }
}
@media only screen and (max-width: 900px) {
    .threeColumnLayout {
        grid-template-rows: auto auto auto;
    }
    .threeColumn {
        width: 200px;
        height: 300px;
    }
    .pricingBox {
        width: 90vw;
        margin: 0;
    }
}
@media only screen and (min-width: 901px) {
    .threeColumnLayout {
        grid-template-columns: auto auto auto;
    }
}