.mainNav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2vw 4vw;
  z-index: 10;
  transition: background-color 300ms;
  background: linear-gradient(
    0deg,
    rgba(22, 22, 22, 0) 0%,
    rgba(22, 22, 22, 1) 100%
  );
}
.mainNav img {
  transition: opacity 1s;
}
.mainNav.scrolled {
  background-color: var(--gray);
}
.login {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--theme-color);
}
.logo {
  height: 40px;
  width: auto;
  margin: 20px 10px;
}
.linkContainer {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linkContainer li {
  padding: 5px 10px;
  margin: 0 5px;
}

.linkContainer a.active {
  border-bottom: 3px solid var(--theme-color);
}
.userIcon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--theme-color);
  cursor: pointer;
}
.dropdown {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    z-index: 2;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    font-size: 18px;
}

@media screen and (max-width: 500px) {
  .linkContainer {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 80px;
    transition: height 1s, opacity 900ms;
    justify-content: center;
    flex-flow: column-reverse;
    background-color: var(--gray);
    pointer-events: none;
  }
  .linkContainer.open{height: 100vh; opacity: 1; pointer-events: all;}
  .linkContainer li {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .logo{
    height: 4vh;
    z-index: 1;
  }
}
