/* Regular Shelves */
.shelf {
  width: 100vw;
  display: grid;
  color: var(--text);
  grid-auto-columns: var(--card-width);
  grid-auto-rows: var(--card-height);
  grid-auto-flow: column;
  column-gap: var(--spacing);
  margin: 20px 0;
  padding-left: var(--spacing);
  overflow-x: scroll;
  --spacing: 40px;
}
.shelf .contentCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.rowTitle {
  margin-left: 40px;
}

/* feature block */

:matches(.feature, .thumbnailSlider) > .contentCard {
  height: 100%;
  aspect-ratio: var(--card-aspect-ratio);
}

.feature {
  width: 100%;
  height: 40vw;
  padding: 40px;
  display: flex;
  flex-flow: row nowrap;
}
.feature > .contentCard {
  margin-right: 50px;
}
@media only screen and (max-width: 400px) {
  .feature {
    height: 50vh;
    display: flex;
    flex-flow: column;
  }
}

/* full-width feature */
.largeFeature {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.largeFeature .contentCard::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 100px -100px 200px rgba(22, 22, 22, 0.9) inset;
}
.largeFeature .contentCard {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
}

/* thumbnail slider */

.thumbnailSlider {
  width: 100%;
  height: 40vw;
  max-height: 400px;
  padding: 40px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.thumbnailSlider .contentCard {
  position: relative;
  height: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.thumbnailSlider .contentCard::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("/icons/play-circle.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
}
.thumbnailSlider .contentCard img {
  border-radius: 20px;
}
.thumbnailSlider div {
  margin-right: 50px;
}

/* on info page */
.infoBanner {
  width: 100vw;
  padding-top: 80px;
  display: flex;
  backdrop-filter: blur(10px) brightness(80%);
  background-color: transparent;
}
.infoBanner div:nth-child(2) {
  margin: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.infoBanner .contentCard {
  display: block;
  margin: 40px;
  aspect-ratio: var(--card-aspect-ratio);
  height: 45vw;
  max-height: 50vh;
  transition: transform 1s, opacity 1s;
}
.infoBanner .contentCard img {
  width: 100%;
  height: 100%;
}
.zoom .contentCard {
  transform: scale(0.8);
  opacity: 0;
}
.zoom :matches(h1, p, button) {
  opacity: 0;
}

.largeFeature > div:not(.contentCard) {
  position: absolute;
  align-self: flex-end;
  margin: 40px;
}
.infoBanner.zoom {
  animation-name: zoomba;
  animation-duration: 1s;
  animation-delay: 500ms;
  animation-fill-mode: both;
}
@keyframes zoomba {
  0% {
    backdrop-filter: blur(10px) brightness(80%);
    min-height: 50vh;
  }
  75% {
    backdrop-filter: blur(0px) brightness(80%);
    min-height: 100vh;
  }
  100% {
    backdrop-filter: blur(0px) brightness(0%);
    min-height: 100vh;
  }
}
@media screen and (max-width: 550px) {
  .infoBanner {
    flex-flow: column;
  }
  .infoBanner .contentCard {
    max-height: 70vh;
    height: initial;
    margin: 40px auto;
  }
  .infoBanner div:nth-child(2) {
    margin: 30px auto;
    width: 283px;
  }
  .spotlight,
  .spotlightSlider {
    padding: 20px;
  }
}
